body{
    display: flex;
    flex-direction: column;
}

.header-img{
    height: 100px;
    width: 100px;
    border-radius: 50px;
    display: inline-block;

}

.container-header{
    background-color: #1F2937;
    height: 100px;
    padding-top: 25px;
    padding-left:100px;
    padding-right: 100px;
    font-size: 18px;
    color:#E5E7EB;
    display: flex;
    justify-content: space-between;
   
}

ul{
    display: flex;
    gap:10px;
    list-style-type: none;
    align-content: center;
    color: white;
    padding-bottom: 50px;
}

li{
    font-size: 18px;
    color:#F9FAF8;
}

.body{
    background-color: #1F2937;
    padding: 100px;
    display: inline-block;
}

.body-img{
    height: 300px;
    width: 400px;
    display: inline-block;
    border-radius: 1000px;
    float:right;
    border:1px solid white
}

h1{
    color:#F9FAF8;
    font-size: 48px;
    font-weight: 900;
    align-self:flex-start;
    flex-shrink: 0;
}

p{
    color:white;
}

.button{
    border-radius: 5px;
    background-color:#3882F6;
    padding-top: 5px;
    padding-left: 30px;
    padding-bottom: 5px;
    padding-right: 30px;
    color:white;
    display: inline-block;
}

.body-white{
    border: 2px solid red;
    height: auto;
    width: auto;
    text-align: center;
    color:black;
}

h2{
    padding-bottom: 30px;
}

.car-image{
    display:inline-block;
    height: 150px;
    width: 150px;
    border-radius: 1000px;
    padding:10px;

}
}